
    <header class="bg-gray-100 shadow-md">
        <div class="container mx-auto px-4 py-6">
            <div class="flex justify-between items-center">
                <div class="flex items-center">
                    <h1 class="text-3xl font-bold text-teal-600 mr-4 pl-4">Logo</h1>
                    <input type="text" placeholder="Search here..." class="border border-gray-300 rounded-md px-4 py-2">
                </div>
                <nav class="flex space-x-16">
                    <a href="#" class="black hover:text-teal-800">Home</a>
                    <a href="#" class="black-600 hover:text-teal-800">Pages</a>
                    <a href="#" class="black hover:text-teal-800">Insurances</a>
                    <a href="#" class="black hover:text-teal-800">Blog</a>
                    <a href="#" class="black hover:text-teal-800">Contact Us</a>
                </nav>
                <div class="flex items-center space-x-4">
                    <a href="#" class="text-teal-600 hover:text-teal-800">+1 (111) 65 458 856</a>
                    <button class="bg-teal-600 text-white px-4 py-2 rounded-md hover:bg-teal-700">Get A Quote</button>
                </div>
            </div>
        </div>
    </header>


    <div class="p-10 flex items-center justify-between">
        <div class="max-w-lg ml-10">
          <h1 class="text-5xl font-bold black mb-4">
            Take The Worry Out Of Life With <span class="text-teal-700">Insurance</span> Protection
          </h1>
          <p class="black mb-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto aspernatur vel eum ducimus quisquam facilis deleniti libero totam ut dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut perferendis ab aperiam, et dolorum veniam eveniet ad.
          </p>
          <div class="flex space-x-4">
            <button class="bg-teal-700 text-white px-6 py-2 rounded-lg flex items-center">
                Get Started
              </button>        
              <button class="border border-teal-700 text-teal-700 px-6 py-2 rounded-lg flex items-center">
                <img class="w-4 h-4 mr-2" src="https://img.icons8.com/?size=100&id=12628&format=png&color=00796b" alt="">Contact Us
            </button>
          </div>
        </div>
        <div class="hidden md:block max-w-500  mr-20">
            <img src="assets/father.webp" alt=""/>
        </div>
      </div>
      